bin/
obj/
*.userprefs
_ReSharper.CLRTests/
*.dotCover
*.user
*.DotSettings
CPPCLR/Debug/
Debug/
CLRTests.opensdf
CLRTests.v11.suo
RocketScience/CPPCLR/Release/
Release/
*.sdf
Basic/01_allocOnStack/app.config

packages/
*.suo